{:format :kotoba.kir/v4,
 :signature {:params [], :result :i64},
 :functions
 [{:name or-default,
   :params [v fallback],
   :result :string,
   :effects #{},
   :body (if (string=? v "") fallback v),
   :param-types [:string :string]}
  {:name button-type,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (or-default
    (record-get
     [:record
      :btn/opts
      [[:type :string]
       [:size :string]
       [:href :string]
       [:id :string]
       [:aria-label :string]
       [:submit :bool]
       [:disabled :bool]
       [:extra :document]]]
     x
     :type)
    "solid-fill"),
   :param-types [[:ref :btn/opts]]}
  {:name button-size,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (or-default
    (record-get
     [:record
      :btn/opts
      [[:type :string]
       [:size :string]
       [:href :string]
       [:id :string]
       [:aria-label :string]
       [:submit :bool]
       [:disabled :bool]
       [:extra :document]]]
     x
     :size)
    "md"),
   :param-types [[:ref :btn/opts]]}
  {:name anchor?,
   :params [x],
   :result :bool,
   :effects #{},
   :body
   (if
    (string=?
     (record-get
      [:record
       :btn/opts
       [[:type :string]
        [:size :string]
        [:href :string]
        [:id :string]
        [:aria-label :string]
        [:submit :bool]
        [:disabled :bool]
        [:extra :document]]]
      x
      :href)
     "")
    false
    true),
   :param-types [[:ref :btn/opts]]}
  {:name tag,
   :params [x],
   :result :string,
   :effects #{},
   :body (if (anchor? x) "a" "button"),
   :param-types [[:ref :btn/opts]]}
  {:name native-type,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (if
    (record-get
     [:record
      :btn/opts
      [[:type :string]
       [:size :string]
       [:href :string]
       [:id :string]
       [:aria-label :string]
       [:submit :bool]
       [:disabled :bool]
       [:extra :document]]]
     x
     :submit)
    "submit"
    "button"),
   :param-types [[:ref :btn/opts]]}
  {:name attr,
   :params [name value],
   :result :string,
   :effects #{},
   :body
   (string-concat
    name
    (string-concat "=\"" (string-concat value "\""))),
   :param-types [:string :string]}
  {:name join-attr,
   :params [acc one],
   :result :string,
   :effects #{},
   :body
   (if
    (string=? acc "")
    one
    (string-concat acc (string-concat " " one))),
   :param-types [:string :string]}
  {:name maybe-attr,
   :params [acc name value],
   :result :string,
   :effects #{},
   :body
   (if (string=? value "") acc (join-attr acc (attr name value))),
   :param-types [:string :string :string]}
  {:name extra-name,
   :params [d],
   :result :string,
   :effects #{},
   :body
   (option-value-of
    [:option :string]
    (document-string-value
     (option-value-of
      [:option :document]
      (document-get d :name)
      (document-null)))
    ""),
   :param-types [:document]}
  {:name extra-value,
   :params [d],
   :result :string,
   :effects #{},
   :body
   (option-value-of
    [:option :string]
    (document-string-value
     (option-value-of
      [:option :document]
      (document-get d :value)
      (document-null)))
    ""),
   :param-types [:document]}
  {:name owned?,
   :params [name],
   :result :bool,
   :effects #{},
   :body
   (let
    [__kotoba_or_3 (string=? name "class")]
    (if
     __kotoba_or_3
     __kotoba_or_3
     (let
      [__kotoba_or_2 (string=? name "data-type")]
      (if __kotoba_or_2 __kotoba_or_2 (string=? name "data-size"))))),
   :param-types [:string]}
  {:name extras-from,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [extra
     (record-get
      [:record
       :btn/extra-from
       [[:extra :document] [:index :i64] [:n :i64] [:acc :string]]]
      x
      :extra)
     i
     (record-get
      [:record
       :btn/extra-from
       [[:extra :document] [:index :i64] [:n :i64] [:acc :string]]]
      x
      :index)
     n
     (record-get
      [:record
       :btn/extra-from
       [[:extra :document] [:index :i64] [:n :i64] [:acc :string]]]
      x
      :n)
     acc
     (record-get
      [:record
       :btn/extra-from
       [[:extra :document] [:index :i64] [:n :i64] [:acc :string]]]
      x
      :acc)]
    (if
     (>= i n)
     acc
     (let
      [d
       (option-value-of
        [:option :document]
        (document-vector-at extra i)
        (document-null))
       next
       (if
        (owned? (extra-name d))
        acc
        (join-attr acc (attr (extra-name d) (extra-value d))))]
      (extras-from
       (record-new
        [:record
         :btn/extra-from
         [[:extra :document] [:index :i64] [:n :i64] [:acc :string]]]
        extra
        (+ i 1)
        n
        next))))),
   :param-types [[:ref :btn/extra-from]]}
  {:name extras,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [e
     (record-get
      [:record
       :btn/opts
       [[:type :string]
        [:size :string]
        [:href :string]
        [:id :string]
        [:aria-label :string]
        [:submit :bool]
        [:disabled :bool]
        [:extra :document]]]
      x
      :extra)]
    (extras-from
     (record-new
      [:record
       :btn/extra-from
       [[:extra :document] [:index :i64] [:n :i64] [:acc :string]]]
      e
      0
      (document-count e)
      ""))),
   :param-types [[:ref :btn/opts]]}
  {:name identity-attrs,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (join-attr
    (join-attr
     (attr "class" "dads-button")
     (attr "data-type" (button-type x)))
    (attr "data-size" (button-size x))),
   :param-types [[:ref :btn/opts]]}
  {:name common-attrs,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (maybe-attr
    (maybe-attr
     (identity-attrs x)
     "id"
     (record-get
      [:record
       :btn/opts
       [[:type :string]
        [:size :string]
        [:href :string]
        [:id :string]
        [:aria-label :string]
        [:submit :bool]
        [:disabled :bool]
        [:extra :document]]]
      x
      :id))
    "aria-label"
    (record-get
     [:record
      :btn/opts
      [[:type :string]
       [:size :string]
       [:href :string]
       [:id :string]
       [:aria-label :string]
       [:submit :bool]
       [:disabled :bool]
       [:extra :document]]]
     x
     :aria-label)),
   :param-types [[:ref :btn/opts]]}
  {:name element-attrs,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (if
    (anchor? x)
    (join-attr
     (common-attrs x)
     (attr
      "href"
      (record-get
       [:record
        :btn/opts
        [[:type :string]
         [:size :string]
         [:href :string]
         [:id :string]
         [:aria-label :string]
         [:submit :bool]
         [:disabled :bool]
         [:extra :document]]]
       x
       :href)))
    (let
     [with-type
      (join-attr (common-attrs x) (attr "type" (native-type x)))]
     (if
      (record-get
       [:record
        :btn/opts
        [[:type :string]
         [:size :string]
         [:href :string]
         [:id :string]
         [:aria-label :string]
         [:submit :bool]
         [:disabled :bool]
         [:extra :document]]]
       x
       :disabled)
      (join-attr with-type (attr "disabled" "true"))
      with-type))),
   :param-types [[:ref :btn/opts]]}
  {:name attrs,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [e (extras x)]
    (if
     (string=? e "")
     (element-attrs x)
     (join-attr (element-attrs x) e))),
   :param-types [[:ref :btn/opts]]}
  {:name open-tag,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (string-concat
    "<"
    (string-concat
     (tag x)
     (string-concat " " (string-concat (attrs x) ">")))),
   :param-types [[:ref :btn/opts]]}
  {:name main,
   :params [],
   :result :i64,
   :effects #{},
   :body
   (string-byte-length
    (attrs
     (record-new
      [:record
       :btn/opts
       [[:type :string]
        [:size :string]
        [:href :string]
        [:id :string]
        [:aria-label :string]
        [:submit :bool]
        [:disabled :bool]
        [:extra :document]]]
      ""
      ""
      ""
      ""
      ""
      false
      false
      (document-vector)))),
   :param-types []}],
 :oracle-value 71,
 :schema-identities
 #:btn{:extra-from
       "db88105810a7cf7908402f47bb5d03db2503a3741db5a4884d451df71b0a1bee",
       :opts
       "92bc88d5eaaee51fcd70c75471fa5782983cff1dc9d136557f4e966d83558285"},
 :exports [main tag attrs open-tag],
 :schemas
 #:btn{:opts
       [:record
        :btn/opts
        [[:type :string]
         [:size :string]
         [:href :string]
         [:id :string]
         [:aria-label :string]
         [:submit :bool]
         [:disabled :bool]
         [:extra :document]]],
       :extra-from
       [:record
        :btn/extra-from
        [[:extra :document] [:index :i64] [:n :i64] [:acc :string]]]},
 :effects #{},
 :blocks [{:id 0, :instructions [[:const.i64 71] [:return]]}],
 :entry main}
