{:format :kotoba.kir/v4,
 :signature {:params [], :result :i64},
 :functions
 [{:name attr,
   :params [name value],
   :result :string,
   :effects #{},
   :body
   (string-concat
    name
    (string-concat "=\"" (string-concat value "\""))),
   :param-types [:string :string]}
  {:name join-attr,
   :params [acc one],
   :result :string,
   :effects #{},
   :body
   (if
    (string=? acc "")
    one
    (string-concat acc (string-concat " " one))),
   :param-types [:string :string]}
  {:name maybe-attr,
   :params [acc name value],
   :result :string,
   :effects #{},
   :body
   (if (string=? value "") acc (join-attr acc (attr name value))),
   :param-types [:string :string :string]}
  {:name flag-attr,
   :params [acc name on],
   :result :string,
   :effects #{},
   :body (if on (join-attr acc (attr name "true")) acc),
   :param-types [:string :string :bool]}
  {:name entry-name,
   :params [d],
   :result :string,
   :effects #{},
   :body
   (option-value-of
    [:option :string]
    (document-string-value
     (option-value-of
      [:option :document]
      (document-get d :name)
      (document-null)))
    ""),
   :param-types [:document]}
  {:name entry-value,
   :params [d],
   :result :string,
   :effects #{},
   :body
   (option-value-of
    [:option :string]
    (document-string-value
     (option-value-of
      [:option :document]
      (document-get d :value)
      (document-null)))
    ""),
   :param-types [:document]}
  {:name owned-from,
   :params [owned needle i n],
   :result :bool,
   :effects #{},
   :body
   (if
    (>= i n)
    false
    (let
     [__kotoba_or_2
      (string=?
       (entry-name
        (option-value-of
         [:option :document]
         (document-vector-at owned i)
         (document-null)))
       needle)]
     (if
      __kotoba_or_2
      __kotoba_or_2
      (owned-from owned needle (+ i 1) n)))),
   :param-types [:document :string :i64 :i64]}
  {:name owned?,
   :params [owned needle],
   :result :bool,
   :effects #{},
   :body (owned-from owned needle 0 (document-count owned)),
   :param-types [:document :string]}
  {:name passthrough-from,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [extra
     (record-get
      [:record
       :c/passthrough
       [[:extra :document]
        [:owned :document]
        [:index :i64]
        [:n :i64]
        [:acc :string]]]
      x
      :extra)
     owned
     (record-get
      [:record
       :c/passthrough
       [[:extra :document]
        [:owned :document]
        [:index :i64]
        [:n :i64]
        [:acc :string]]]
      x
      :owned)
     i
     (record-get
      [:record
       :c/passthrough
       [[:extra :document]
        [:owned :document]
        [:index :i64]
        [:n :i64]
        [:acc :string]]]
      x
      :index)
     n
     (record-get
      [:record
       :c/passthrough
       [[:extra :document]
        [:owned :document]
        [:index :i64]
        [:n :i64]
        [:acc :string]]]
      x
      :n)
     acc
     (record-get
      [:record
       :c/passthrough
       [[:extra :document]
        [:owned :document]
        [:index :i64]
        [:n :i64]
        [:acc :string]]]
      x
      :acc)]
    (if
     (>= i n)
     acc
     (let
      [d
       (option-value-of
        [:option :document]
        (document-vector-at extra i)
        (document-null))
       next
       (if
        (owned? owned (entry-name d))
        acc
        (join-attr acc (attr (entry-name d) (entry-value d))))]
      (passthrough-from
       (record-new
        [:record
         :c/passthrough
         [[:extra :document]
          [:owned :document]
          [:index :i64]
          [:n :i64]
          [:acc :string]]]
        extra
        owned
        (+ i 1)
        n
        next))))),
   :param-types [[:ref :c/passthrough]]}
  {:name passthrough,
   :params [extra owned],
   :result :string,
   :effects #{},
   :body
   (passthrough-from
    (record-new
     [:record
      :c/passthrough
      [[:extra :document]
       [:owned :document]
       [:index :i64]
       [:n :i64]
       [:acc :string]]]
     extra
     owned
     0
     (document-count extra)
     "")),
   :param-types [:document :document]}
  {:name append,
   :params [acc more],
   :result :string,
   :effects #{},
   :body (if (string=? more "") acc (join-attr acc more)),
   :param-types [:string :string]}
  {:name heading-tag,
   :params [level],
   :result :string,
   :effects #{},
   :body (string-concat "h" (__kotoba_string_from_i64 level)),
   :param-types [:i64]}
  {:name heading-size,
   :params [level],
   :result :string,
   :effects #{},
   :body
   (if
    (= level 1)
    "45"
    (if
     (= level 2)
     "32"
     (if
      (= level 3)
      "24"
      (if
       (= level 4)
       "20"
       (if (= level 5) "18" (if (= level 6) "16" "20")))))),
   :param-types [:i64]}
  {:name heading-attrs,
   :params [level size id],
   :result :string,
   :effects #{},
   :body
   (maybe-attr
    (join-attr
     (attr "class" "dads-heading")
     (attr
      "data-size"
      (if (string=? size "") (heading-size level) size)))
    "id"
    id),
   :param-types [:i64 :string :string]}
  {:name chip-attrs,
   :params [color style],
   :result :string,
   :effects #{},
   :body
   (join-attr
    (join-attr
     (attr "class" "dads-chip-label")
     (attr "data-style" (if (string=? style "") "text" style)))
    (attr "data-color" (if (string=? color "") "blue" color))),
   :param-types [:string :string]}
  {:name input-owned,
   :params [],
   :result :document,
   :effects #{},
   :body
   (document-vector
    (document-map
     :name
     (document-string "size")
     :value
     (document-string ""))
    (document-map
     :name
     (document-string "class")
     :value
     (document-string ""))
    (document-map
     :name
     (document-string "data-size")
     :value
     (document-string ""))
    (document-map
     :name
     (document-string "type")
     :value
     (document-string ""))),
   :param-types []}
  {:name input-attrs,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [size
     (record-get
      [:record
       :c/input
       [[:size :string] [:type :string] [:extra :document]]]
      x
      :size)
     t
     (record-get
      [:record
       :c/input
       [[:size :string] [:type :string] [:extra :document]]]
      x
      :type)
     base
     (join-attr
      (join-attr
       (attr "class" "dads-input-text__input")
       (attr "data-size" (if (string=? size "") "md" size)))
      (attr "type" (if (string=? t "") "text" t)))]
    (append
     base
     (passthrough
      (record-get
       [:record
        :c/input
        [[:size :string] [:type :string] [:extra :document]]]
       x
       :extra)
      (input-owned)))),
   :param-types [[:ref :c/input]]}
  {:name textarea-owned,
   :params [],
   :result :document,
   :effects #{},
   :body
   (document-vector
    (document-map
     :name
     (document-string "class")
     :value
     (document-string ""))
    (document-map
     :name
     (document-string "rows")
     :value
     (document-string ""))),
   :param-types []}
  {:name textarea-attrs,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [rows
     (record-get
      [:record :c/textarea [[:rows :string] [:extra :document]]]
      x
      :rows)
     base
     (join-attr
      (attr "class" "dads-textarea__textarea")
      (attr "rows" (if (string=? rows "") "4" rows)))]
    (append
     base
     (passthrough
      (record-get
       [:record :c/textarea [[:rows :string] [:extra :document]]]
       x
       :extra)
      (textarea-owned)))),
   :param-types [[:ref :c/textarea]]}
  {:name toggle-outer-attrs,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [kind
     (record-get
      [:record
       :c/toggle
       [[:kind :string]
        [:size :string]
        [:name :string]
        [:value :string]
        [:id :string]
        [:checked :bool]
        [:disabled :bool]]]
      x
      :kind)
     size
     (record-get
      [:record
       :c/toggle
       [[:kind :string]
        [:size :string]
        [:name :string]
        [:value :string]
        [:id :string]
        [:checked :bool]
        [:disabled :bool]]]
      x
      :size)]
    (join-attr
     (attr "class" (string-concat "dads-" kind))
     (attr "data-size" (if (string=? size "") "md" size)))),
   :param-types [[:ref :c/toggle]]}
  {:name toggle-input-attrs,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [kind
     (record-get
      [:record
       :c/toggle
       [[:kind :string]
        [:size :string]
        [:name :string]
        [:value :string]
        [:id :string]
        [:checked :bool]
        [:disabled :bool]]]
      x
      :kind)
     base
     (join-attr
      (attr
       "class"
       (string-concat "dads-" (string-concat kind "__input")))
      (attr "type" kind))
     named
     (maybe-attr
      base
      "name"
      (record-get
       [:record
        :c/toggle
        [[:kind :string]
         [:size :string]
         [:name :string]
         [:value :string]
         [:id :string]
         [:checked :bool]
         [:disabled :bool]]]
       x
       :name))
     valued
     (maybe-attr
      named
      "value"
      (record-get
       [:record
        :c/toggle
        [[:kind :string]
         [:size :string]
         [:name :string]
         [:value :string]
         [:id :string]
         [:checked :bool]
         [:disabled :bool]]]
       x
       :value))
     ided
     (maybe-attr
      valued
      "id"
      (record-get
       [:record
        :c/toggle
        [[:kind :string]
         [:size :string]
         [:name :string]
         [:value :string]
         [:id :string]
         [:checked :bool]
         [:disabled :bool]]]
       x
       :id))
     checked
     (flag-attr
      ided
      "checked"
      (record-get
       [:record
        :c/toggle
        [[:kind :string]
         [:size :string]
         [:name :string]
         [:value :string]
         [:id :string]
         [:checked :bool]
         [:disabled :bool]]]
       x
       :checked))]
    (flag-attr
     checked
     "disabled"
     (record-get
      [:record
       :c/toggle
       [[:kind :string]
        [:size :string]
        [:name :string]
        [:value :string]
        [:id :string]
        [:checked :bool]
        [:disabled :bool]]]
      x
      :disabled))),
   :param-types [[:ref :c/toggle]]}
  {:name requirement-attrs,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (join-attr
    (attr "class" "dads-form-control-label__requirement")
    (attr
     "data-required"
     (if
      (record-get
       [:record
        :c/marker
        [[:requirement :string] [:required :bool] [:status :string]]]
       x
       :required)
      "true"
      "false"))),
   :param-types [[:ref :c/marker]]}
  {:name status-attrs,
   :params [x],
   :result :string,
   :effects #{},
   :body (attr "class" "dads-form-control-label__status"),
   :param-types [[:ref :c/marker]]}
  {:name marker-class-for,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (if
    (string=?
     (record-get
      [:record
       :c/marker
       [[:requirement :string] [:required :bool] [:status :string]]]
      x
      :requirement)
     "")
    ""
    "dads-form-control-label__requirement"),
   :param-types [[:ref :c/marker]]}
  {:name main,
   :params [],
   :result :i64,
   :effects #{},
   :body (string-byte-length (heading-attrs 3 "" "")),
   :param-types []}
  {:name __kotoba_string_from_i64_nat,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (string-substring "0123456789" n (+ n 1))
    (string-concat
     (__kotoba_string_from_i64_nat (quot n 10))
     (string-substring
      "0123456789"
      (- n (* (quot n 10) 10))
      (+ (- n (* (quot n 10) 10)) 1)))),
   :param-types [:i64]}
  {:name __kotoba_string_from_i64,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 0)
    (string-concat "-" (__kotoba_string_from_i64_nat (- 0 n)))
    (__kotoba_string_from_i64_nat n)),
   :param-types [:i64]}],
 :oracle-value 35,
 :schema-identities
 #:c{:input
     "773cd155b0346a2a4573bfcbb654f1e3bf88ec44c38343dee65ebdad0282b7ae",
     :marker
     "2ccd527deffaee3f568a6b30404266a04e347da42a9f68df012beb22f9d5ac6b",
     :passthrough
     "96958dfc2cec4265b052b7bc753ddf520323fee84846aa94ba869f08316d5a81",
     :textarea
     "3a874f734c0fa9cbc83839a78c7b76e8c3c66c674deae18bc5ec8bfc9ac566de",
     :toggle
     "4fb3294ac950c0ae114b84f4532f48ac1eda35327f41eed4d72b6ea1ebdfbe54"},
 :exports
 [main
  heading-tag
  heading-attrs
  chip-attrs
  input-attrs
  textarea-attrs
  toggle-outer-attrs
  toggle-input-attrs
  requirement-attrs
  status-attrs
  marker-class-for],
 :schemas
 #:c{:passthrough
     [:record
      :c/passthrough
      [[:extra :document]
       [:owned :document]
       [:index :i64]
       [:n :i64]
       [:acc :string]]],
     :input
     [:record
      :c/input
      [[:size :string] [:type :string] [:extra :document]]],
     :textarea
     [:record :c/textarea [[:rows :string] [:extra :document]]],
     :toggle
     [:record
      :c/toggle
      [[:kind :string]
       [:size :string]
       [:name :string]
       [:value :string]
       [:id :string]
       [:checked :bool]
       [:disabled :bool]]],
     :marker
     [:record
      :c/marker
      [[:requirement :string] [:required :bool] [:status :string]]]},
 :effects #{},
 :blocks [{:id 0, :instructions [[:const.i64 35] [:return]]}],
 :entry main}
