{:format :kotoba.kir/v4,
 :signature {:params [], :result :i64},
 :functions
 [{:name mirror-index,
   :params [n i],
   :result :i64,
   :effects #{},
   :body (- (- n 1) i),
   :param-types [:i64 :i64]}
  {:name step-at,
   :params [steps i],
   :result :i64,
   :effects #{},
   :body
   (option-value-of
    [:option :i64]
    (document-i64-value
     (option-value-of
      [:option :document]
      (document-vector-at steps i)
      (document-null)))
    0),
   :param-types [:document :i64]}
  {:name mirror-step,
   :params [steps i],
   :result :i64,
   :effects #{},
   :body (step-at steps (mirror-index (document-count steps) i)),
   :param-types [:document :i64]}
  {:name pair-text,
   :params [steps i],
   :result :string,
   :effects #{},
   :body
   (string-concat
    (__kotoba_string_from_i64 (step-at steps i))
    (string-concat
     "->"
     (__kotoba_string_from_i64 (mirror-step steps i)))),
   :param-types [:document :i64]}
  {:name pairs-from,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [steps
     (record-get
      [:record
       :dark/pairs-from
       [[:steps :document] [:index :i64] [:n :i64] [:acc :string]]]
      x
      :steps)
     i
     (record-get
      [:record
       :dark/pairs-from
       [[:steps :document] [:index :i64] [:n :i64] [:acc :string]]]
      x
      :index)
     n
     (record-get
      [:record
       :dark/pairs-from
       [[:steps :document] [:index :i64] [:n :i64] [:acc :string]]]
      x
      :n)
     acc
     (record-get
      [:record
       :dark/pairs-from
       [[:steps :document] [:index :i64] [:n :i64] [:acc :string]]]
      x
      :acc)]
    (if
     (>= i n)
     acc
     (let
      [text
       (pair-text steps i)
       next
       (if
        (string=? acc "")
        text
        (string-concat acc (string-concat " " text)))]
      (pairs-from
       (record-new
        [:record
         :dark/pairs-from
         [[:steps :document] [:index :i64] [:n :i64] [:acc :string]]]
        steps
        (+ i 1)
        n
        next))))),
   :param-types [[:ref :dark/pairs-from]]}
  {:name mirror-pairs,
   :params [steps],
   :result :string,
   :effects #{},
   :body
   (pairs-from
    (record-new
     [:record
      :dark/pairs-from
      [[:steps :document] [:index :i64] [:n :i64] [:acc :string]]]
     steps
     0
     (document-count steps)
     "")),
   :param-types [:document]}
  {:name light-name,
   :params [k],
   :result :string,
   :effects #{},
   :body
   (string-concat
    "--dds-light-"
    (string-substring k 8 (string-byte-length k))),
   :param-types [:string]}
  {:name light-name-checked,
   :params [k],
   :result [:result :string :string],
   :effects #{},
   :body
   (if
    (< (string-byte-length k) 8)
    (result-err-of [:result :string :string] "not a --color- name")
    (if
     (string=? (string-substring k 0 8) "--color-")
     (result-ok-of [:result :string :string] (light-name k))
     (result-err-of [:result :string :string] "not a --color- name"))),
   :param-types [:string]}
  {:name main,
   :params [],
   :result :i64,
   :effects #{},
   :body
   (string-byte-length
    (mirror-pairs
     (document-vector
      (document-i64 50)
      (document-i64 600)
      (document-i64 1200)))),
   :param-types []}
  {:name __kotoba_string_from_i64_nat,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (string-substring "0123456789" n (+ n 1))
    (string-concat
     (__kotoba_string_from_i64_nat (quot n 10))
     (string-substring
      "0123456789"
      (- n (* (quot n 10) 10))
      (+ (- n (* (quot n 10) 10)) 1)))),
   :param-types [:i64]}
  {:name __kotoba_string_from_i64,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 0)
    (string-concat "-" (__kotoba_string_from_i64_nat (- 0 n)))
    (__kotoba_string_from_i64_nat n)),
   :param-types [:i64]}],
 :oracle-value 26,
 :schema-identities
 #:dark{:pairs-from
        "44f6425e512bba10371022741a22f60d714c815f4fc76e06e66dd10f6b3b7944"},
 :exports
 [main mirror-index step-at mirror-step pair-text mirror-pairs],
 :schemas
 #:dark{:pairs-from
        [:record
         :dark/pairs-from
         [[:steps :document] [:index :i64] [:n :i64] [:acc :string]]]},
 :effects #{},
 :blocks [{:id 0, :instructions [[:const.i64 26] [:return]]}],
 :entry main}
