{:format :kotoba.kir/v4,
 :signature {:params [], :result :i64},
 :functions
 [{:name attr,
   :params [name value],
   :result :string,
   :effects #{},
   :body
   (string-concat
    name
    (string-concat "=\"" (string-concat value "\""))),
   :param-types [:string :string]}
  {:name join-attr,
   :params [acc one],
   :result :string,
   :effects #{},
   :body
   (if
    (string=? acc "")
    one
    (string-concat acc (string-concat " " one))),
   :param-types [:string :string]}
  {:name maybe-attr,
   :params [acc name value],
   :result :string,
   :effects #{},
   :body
   (if (string=? value "") acc (join-attr acc (attr name value))),
   :param-types [:string :string :string]}
  {:name flag-attr,
   :params [acc name on],
   :result :string,
   :effects #{},
   :body (if on (join-attr acc (attr name "true")) acc),
   :param-types [:string :string :bool]}
  {:name entry-name,
   :params [d],
   :result :string,
   :effects #{},
   :body
   (option-value-of
    [:option :string]
    (document-string-value
     (option-value-of
      [:option :document]
      (document-get d :name)
      (document-null)))
    ""),
   :param-types [:document]}
  {:name entry-value,
   :params [d],
   :result :string,
   :effects #{},
   :body
   (option-value-of
    [:option :string]
    (document-string-value
     (option-value-of
      [:option :document]
      (document-get d :value)
      (document-null)))
    ""),
   :param-types [:document]}
  {:name passthrough-from,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [extra
     (record-get
      [:record
       :sb/passthrough
       [[:extra :document] [:index :i64] [:n :i64] [:acc :string]]]
      x
      :extra)
     i
     (record-get
      [:record
       :sb/passthrough
       [[:extra :document] [:index :i64] [:n :i64] [:acc :string]]]
      x
      :index)
     n
     (record-get
      [:record
       :sb/passthrough
       [[:extra :document] [:index :i64] [:n :i64] [:acc :string]]]
      x
      :n)
     acc
     (record-get
      [:record
       :sb/passthrough
       [[:extra :document] [:index :i64] [:n :i64] [:acc :string]]]
      x
      :acc)]
    (if
     (>= i n)
     acc
     (let
      [d
       (option-value-of
        [:option :document]
        (document-vector-at extra i)
        (document-null))]
      (passthrough-from
       (record-new
        [:record
         :sb/passthrough
         [[:extra :document] [:index :i64] [:n :i64] [:acc :string]]]
        extra
        (+ i 1)
        n
        (join-attr acc (attr (entry-name d) (entry-value d)))))))),
   :param-types [[:ref :sb/passthrough]]}
  {:name passthrough,
   :params [extra],
   :result :string,
   :effects #{},
   :body
   (passthrough-from
    (record-new
     [:record
      :sb/passthrough
      [[:extra :document] [:index :i64] [:n :i64] [:acc :string]]]
     extra
     0
     (document-count extra)
     "")),
   :param-types [:document]}
  {:name placeholder?,
   :params [v],
   :result :bool,
   :effects #{},
   :body (if (string=? v "") true false),
   :param-types [:string]}
  {:name selected?,
   :params [x],
   :result :bool,
   :effects #{},
   :body
   (if
    (placeholder?
     (record-get
      [:record
       :sb/option
       [[:value :string]
        [:label :string]
        [:current :string]
        [:has-current :bool]]]
      x
      :value))
    true
    (if
     (record-get
      [:record
       :sb/option
       [[:value :string]
        [:label :string]
        [:current :string]
        [:has-current :bool]]]
      x
      :has-current)
     (if
      (string=?
       (record-get
        [:record
         :sb/option
         [[:value :string]
          [:label :string]
          [:current :string]
          [:has-current :bool]]]
        x
        :value)
       (record-get
        [:record
         :sb/option
         [[:value :string]
          [:label :string]
          [:current :string]
          [:has-current :bool]]]
        x
        :current))
      true
      false)
     false)),
   :param-types [[:ref :sb/option]]}
  {:name option-attrs,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (if
    (placeholder?
     (record-get
      [:record
       :sb/option
       [[:value :string]
        [:label :string]
        [:current :string]
        [:has-current :bool]]]
      x
      :value))
    (flag-attr
     (join-attr (attr "value" "") (attr "disabled" "true"))
     "selected"
     (selected? x))
    (flag-attr
     (attr
      "value"
      (record-get
       [:record
        :sb/option
        [[:value :string]
         [:label :string]
         [:current :string]
         [:has-current :bool]]]
       x
       :value))
     "selected"
     (selected? x))),
   :param-types [[:ref :sb/option]]}
  {:name options-from,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [options
     (record-get
      [:record
       :sb/options-from
       [[:options :document]
        [:current :string]
        [:has-current :bool]
        [:index :i64]
        [:n :i64]
        [:acc :string]]]
      x
      :options)
     current
     (record-get
      [:record
       :sb/options-from
       [[:options :document]
        [:current :string]
        [:has-current :bool]
        [:index :i64]
        [:n :i64]
        [:acc :string]]]
      x
      :current)
     has-current
     (record-get
      [:record
       :sb/options-from
       [[:options :document]
        [:current :string]
        [:has-current :bool]
        [:index :i64]
        [:n :i64]
        [:acc :string]]]
      x
      :has-current)
     i
     (record-get
      [:record
       :sb/options-from
       [[:options :document]
        [:current :string]
        [:has-current :bool]
        [:index :i64]
        [:n :i64]
        [:acc :string]]]
      x
      :index)
     n
     (record-get
      [:record
       :sb/options-from
       [[:options :document]
        [:current :string]
        [:has-current :bool]
        [:index :i64]
        [:n :i64]
        [:acc :string]]]
      x
      :n)
     acc
     (record-get
      [:record
       :sb/options-from
       [[:options :document]
        [:current :string]
        [:has-current :bool]
        [:index :i64]
        [:n :i64]
        [:acc :string]]]
      x
      :acc)]
    (if
     (>= i n)
     acc
     (let
      [d
       (option-value-of
        [:option :document]
        (document-vector-at options i)
        (document-null))
       one
       (option-attrs
        (record-new
         [:record
          :sb/option
          [[:value :string]
           [:label :string]
           [:current :string]
           [:has-current :bool]]]
         (entry-value d)
         (entry-name d)
         current
         has-current))
       next
       (if
        (string=? acc "")
        one
        (string-concat acc (string-concat " | " one)))]
      (options-from
       (record-new
        [:record
         :sb/options-from
         [[:options :document]
          [:current :string]
          [:has-current :bool]
          [:index :i64]
          [:n :i64]
          [:acc :string]]]
        options
        current
        has-current
        (+ i 1)
        n
        next))))),
   :param-types [[:ref :sb/options-from]]}
  {:name options-attrs,
   :params [options current has-current],
   :result :string,
   :effects #{},
   :body
   (options-from
    (record-new
     [:record
      :sb/options-from
      [[:options :document]
       [:current :string]
       [:has-current :bool]
       [:index :i64]
       [:n :i64]
       [:acc :string]]]
     options
     current
     has-current
     0
     (document-count options)
     "")),
   :param-types [:document :string :bool]}
  {:name selected-count-from,
   :params [x],
   :result :i64,
   :effects #{},
   :body
   (let
    [options
     (record-get
      [:record
       :sb/options-from
       [[:options :document]
        [:current :string]
        [:has-current :bool]
        [:index :i64]
        [:n :i64]
        [:acc :string]]]
      x
      :options)
     current
     (record-get
      [:record
       :sb/options-from
       [[:options :document]
        [:current :string]
        [:has-current :bool]
        [:index :i64]
        [:n :i64]
        [:acc :string]]]
      x
      :current)
     has-current
     (record-get
      [:record
       :sb/options-from
       [[:options :document]
        [:current :string]
        [:has-current :bool]
        [:index :i64]
        [:n :i64]
        [:acc :string]]]
      x
      :has-current)
     i
     (record-get
      [:record
       :sb/options-from
       [[:options :document]
        [:current :string]
        [:has-current :bool]
        [:index :i64]
        [:n :i64]
        [:acc :string]]]
      x
      :index)
     n
     (record-get
      [:record
       :sb/options-from
       [[:options :document]
        [:current :string]
        [:has-current :bool]
        [:index :i64]
        [:n :i64]
        [:acc :string]]]
      x
      :n)]
    (if
     (>= i n)
     0
     (let
      [d
       (option-value-of
        [:option :document]
        (document-vector-at options i)
        (document-null))
       hit
       (if
        (selected?
         (record-new
          [:record
           :sb/option
           [[:value :string]
            [:label :string]
            [:current :string]
            [:has-current :bool]]]
          (entry-value d)
          (entry-name d)
          current
          has-current))
        1
        0)]
      (+
       hit
       (selected-count-from
        (record-new
         [:record
          :sb/options-from
          [[:options :document]
           [:current :string]
           [:has-current :bool]
           [:index :i64]
           [:n :i64]
           [:acc :string]]]
         options
         current
         has-current
         (+ i 1)
         n
         "")))))),
   :param-types [[:ref :sb/options-from]]}
  {:name selected-count,
   :params [options current has-current],
   :result :i64,
   :effects #{},
   :body
   (selected-count-from
    (record-new
     [:record
      :sb/options-from
      [[:options :document]
       [:current :string]
       [:has-current :bool]
       [:index :i64]
       [:n :i64]
       [:acc :string]]]
     options
     current
     has-current
     0
     (document-count options)
     "")),
   :param-types [:document :string :bool]}
  {:name select-attrs,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [own
     (join-attr
      (attr "class" "dads-select__select")
      (attr
       "data-size"
       (if
        (string=?
         (record-get
          [:record
           :sb/select
           [[:size :string]
            [:id :string]
            [:name :string]
            [:required :bool]
            [:disabled :bool]
            [:describedby :string]
            [:extra :document]]]
          x
          :size)
         "")
        "md"
        (record-get
         [:record
          :sb/select
          [[:size :string]
           [:id :string]
           [:name :string]
           [:required :bool]
           [:disabled :bool]
           [:describedby :string]
           [:extra :document]]]
         x
         :size))))
     p
     (passthrough
      (record-get
       [:record
        :sb/select
        [[:size :string]
         [:id :string]
         [:name :string]
         [:required :bool]
         [:disabled :bool]
         [:describedby :string]
         [:extra :document]]]
       x
       :extra))
     merged
     (if (string=? p "") own (join-attr own p))
     ided
     (maybe-attr
      merged
      "id"
      (record-get
       [:record
        :sb/select
        [[:size :string]
         [:id :string]
         [:name :string]
         [:required :bool]
         [:disabled :bool]
         [:describedby :string]
         [:extra :document]]]
       x
       :id))
     named
     (maybe-attr
      ided
      "name"
      (record-get
       [:record
        :sb/select
        [[:size :string]
         [:id :string]
         [:name :string]
         [:required :bool]
         [:disabled :bool]
         [:describedby :string]
         [:extra :document]]]
       x
       :name))
     req
     (flag-attr
      named
      "required"
      (record-get
       [:record
        :sb/select
        [[:size :string]
         [:id :string]
         [:name :string]
         [:required :bool]
         [:disabled :bool]
         [:describedby :string]
         [:extra :document]]]
       x
       :required))
     dis
     (flag-attr
      req
      "disabled"
      (record-get
       [:record
        :sb/select
        [[:size :string]
         [:id :string]
         [:name :string]
         [:required :bool]
         [:disabled :bool]
         [:describedby :string]
         [:extra :document]]]
       x
       :disabled))]
    (maybe-attr
     dis
     "aria-describedby"
     (record-get
      [:record
       :sb/select
       [[:size :string]
        [:id :string]
        [:name :string]
        [:required :bool]
        [:disabled :bool]
        [:describedby :string]
        [:extra :document]]]
      x
      :describedby))),
   :param-types [[:ref :sb/select]]}
  {:name known-type?,
   :params [t],
   :result :bool,
   :effects #{},
   :body
   (if
    (string=? t "success")
    true
    (if
     (string=? t "error")
     true
     (if
      (string=? t "warning")
      true
      (if
       (string=? t "info-1")
       true
       (if (string=? t "info-2") true false))))),
   :param-types [:string]}
  {:name icon-type,
   :params [t],
   :result :string,
   :effects #{},
   :body (if (known-type? t) t "info-1"),
   :param-types [:string]}
  {:name icon-label,
   :params [t],
   :result :string,
   :effects #{},
   :body
   (let
    [k (icon-type t)]
    (if
     (string=? k "success")
     "成功"
     (if
      (string=? k "error")
      "エラー"
      (if (string=? k "warning") "警告" "インフォメーション")))),
   :param-types [:string]}
  {:name banner-attrs,
   :params [t style id extra],
   :result :string,
   :effects #{},
   :body
   (let
    [own
     (join-attr
      (join-attr
       (attr "class" "dads-notification-banner")
       (attr "data-style" (if (string=? style "") "standard" style)))
      (attr "data-type" t))
     p
     (passthrough extra)
     merged
     (if (string=? p "") own (join-attr own p))]
    (maybe-attr merged "id" id)),
   :param-types [:string :string :string :document]}
  {:name heading-tag,
   :params [level],
   :result :string,
   :effects #{},
   :body (string-concat "h" (__kotoba_string_from_i64 level)),
   :param-types [:i64]}
  {:name main,
   :params [],
   :result :i64,
   :effects #{},
   :body
   (string-byte-length
    (options-attrs
     (document-vector
      (document-map
       :value
       (document-string "")
       :name
       (document-string "選択"))
      (document-map
       :value
       (document-string "18")
       :name
       (document-string "18mm")))
     "18"
     true)),
   :param-types []}
  {:name __kotoba_string_from_i64_nat,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (string-substring "0123456789" n (+ n 1))
    (string-concat
     (__kotoba_string_from_i64_nat (quot n 10))
     (string-substring
      "0123456789"
      (- n (* (quot n 10) 10))
      (+ (- n (* (quot n 10) 10)) 1)))),
   :param-types [:i64]}
  {:name __kotoba_string_from_i64,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 0)
    (string-concat "-" (__kotoba_string_from_i64_nat (- 0 n)))
    (__kotoba_string_from_i64_nat n)),
   :param-types [:i64]}],
 :oracle-value 69,
 :schema-identities
 #:sb{:option
      "15e53e5198868e92d7074fedfa1d3e16765d6c60d0b8c990eaa7f61aa4252aa5",
      :options-from
      "4cbed5d3f137343c2c5963ba8daf47468bf65469ba0a993a08a72e8195043905",
      :passthrough
      "3235bfa2d04ce5488661ad5b6cffb9fe264a6960290e4d815801969d0faec98c",
      :select
      "1e0e9d66b798094b4b80a9899f4d0ae322c422a5c0ca17c2d62acece626f685f"},
 :exports
 [main
  option-attrs
  options-attrs
  selected-count
  select-attrs
  known-type?
  icon-type
  icon-label
  banner-attrs
  heading-tag
  placeholder?
  selected?],
 :schemas
 #:sb{:option
      [:record
       :sb/option
       [[:value :string]
        [:label :string]
        [:current :string]
        [:has-current :bool]]],
      :options-from
      [:record
       :sb/options-from
       [[:options :document]
        [:current :string]
        [:has-current :bool]
        [:index :i64]
        [:n :i64]
        [:acc :string]]],
      :passthrough
      [:record
       :sb/passthrough
       [[:extra :document] [:index :i64] [:n :i64] [:acc :string]]],
      :select
      [:record
       :sb/select
       [[:size :string]
        [:id :string]
        [:name :string]
        [:required :bool]
        [:disabled :bool]
        [:describedby :string]
        [:extra :document]]]},
 :effects #{},
 :blocks [{:id 0, :instructions [[:const.i64 69] [:return]]}],
 :entry main}
