{:format :kotoba.kir/v4,
 :signature {:params [], :result :i64},
 :functions
 [{:name header-tag,
   :params [],
   :result :string,
   :effects #{},
   :body "th",
   :param-types []}
  {:name header-attrs,
   :params [],
   :result :string,
   :effects #{},
   :body "class=\"dads-table__col-header\" scope=\"col\"",
   :param-types []}
  {:name row-header-cell?,
   :params [cell],
   :result :bool,
   :effects #{},
   :body
   (if
    (record-get
     [:record :tbl/cell [[:row-header :bool] [:index :i64]]]
     cell
     :row-header)
    (=
     (record-get
      [:record :tbl/cell [[:row-header :bool] [:index :i64]]]
      cell
      :index)
     0)
    false),
   :param-types [[:ref :tbl/cell]]}
  {:name body-cell-tag,
   :params [cell],
   :result :string,
   :effects #{},
   :body (if (row-header-cell? cell) "th" "td"),
   :param-types [[:ref :tbl/cell]]}
  {:name body-cell-attrs,
   :params [cell],
   :result :string,
   :effects #{},
   :body
   (if
    (row-header-cell? cell)
    "class=\"dads-table__row-header\" scope=\"row\""
    ""),
   :param-types [[:ref :tbl/cell]]}
  {:name main,
   :params [],
   :result :i64,
   :effects #{},
   :body
   (string-byte-length
    (body-cell-attrs
     (record-new
      [:record :tbl/cell [[:row-header :bool] [:index :i64]]]
      true
      0))),
   :param-types []}],
 :oracle-value 42,
 :schema-identities
 #:tbl{:cell
       "34fdb394da2f39b0e44a435c0d2e63ac4676ce4967275a04f3b75e1bbc7a998a"},
 :exports
 [main
  header-tag
  header-attrs
  row-header-cell?
  body-cell-tag
  body-cell-attrs],
 :schemas
 #:tbl{:cell [:record :tbl/cell [[:row-header :bool] [:index :i64]]]},
 :effects #{},
 :blocks [{:id 0, :instructions [[:const.i64 42] [:return]]}],
 :entry main}
